<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.svarogg.counttoten" version="1.0.0">

	<name>KickCounter</name>
	<description>“Брой до 10” е лесно за изполване приложение за проследяване на бебешките движения през третия триместър от бременността. Като проследявате ритниците, побутванията и движенията на своето бебе, вие можете да се грижите за неговото здраве и да изградите по-добра интуитивна връзка.  За родителите е успокояващо да познават движенията на своето бебе, за да са уверени, че то е в добро състояние. Броенето на детски движения може да намали риска от вътреутробна смърт на бебето, която засяга една на всеки 125 бременности в България.  Лекарите препоръчват да започнете с броенето през 28-а седмица от бременността или през 26-а, ако бременността ви е оценена като високорискова или сте бременна с повече от едно бебе.  Приложението “Брой до 10” е създадено в рамките на кампанията “Как е бебето ти днес?”, организирана от Алианс на българските акушерки и фондация “Макове за Мери”.</description>
	<author>Svarogg</author>

	<icon src="icon-128.png" width="128" height="128" />
	<icon src="icon-256.png" width="256" height="256" gap:role="default" />

	<preference name="permissions" value="none"/>
	<preference name="android-targetSdkVersion" value="19" />

	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>
	<gap:plugin name="org.apache.cordova.media" />

	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="true" />
	<gap:config-file platform="ios" parent="UIStatusBarHidden"><true/></gap:config-file>
	<gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance"><false/></gap:config-file>

	<preference name="deployment-target" value="8.0" />
	<preference name="target-device" value="universal" />

	<gap:plugin name="org.apache.cordova.inappbrowser" />

	<!-- Optional splash screen image, e.g.: -->
	<!-- <gap:splash src="splash.png" width="1024" height="768" /> -->

</widget>